In [15]:
# CHALLENGE PART 1 Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# Immport the requests log
import requests
requests.__version__

#Import the API Key
from config import weather_api_key

In [16]:
# CHALLENGE PART 1 Create a set of random latitude and longitude functions
lats = np.random.uniform(low =-90.000, high = 90.000, size = 1500)
lngs = np.random.uniform(low = -180, high = 180, size = 1500)
lat_lngs = zip(lats,lngs)
lat_lngs

In [17]:
#  CHALLENGE PART 1 Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [18]:
# CHALLENGE PART 1 Add the latitudes and the longitudes to a list.
coordinates = list(lat_lngs)

In [19]:
# CHALLENGE PART 1 Create a list for holding the cities.
cities =[]

# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    #If the city is unique then we will add it fto the cities list
    if city not in cities:
        cities.append(city)
    
    #Print the city count to confirm the sufficient count.
    len(cities)

In [20]:
# CHALLENGE PART 1 Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [21]:
# CHALLENGE PART 1 List of city data
city_data = []

# Print to logger
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters
record_count = 1
set_count = 1

# Loop through all the cities in our list
for i, city in enumerate(cities):
        
    # Group cities in sets of 50 for logging purposes
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1

    # Create endpoint URL with each city
    city_url = url + "&q=" + city.replace(" ","+")
    
    # Log the url, record, and set numbers
    print(f"Processing Record {record_count} of Set {set_count} | {city}")

    # Add 1 to the record count
    record_count += 1

    # Run an API request for each of the cities
    try:
        city_weather = requests.get(city_url).json()
        # Parse out the max temp, humidity, and cloudiness, CHALLENGE PART 1: ALSO WEATHER DESCRIPTION
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        city_weather_description = city_weather["weather"][0]["description"] 
        
        # CHALLENGE PART 1:  Try except blocks for rain and snow
        try:
            city_rain_inches = city_weather["rain"]["3h"]
        except KeyError:
            city_rain_inches = 0
        try:
            city_snow_inches = city_weather["snow"]["3h"]
        except KeyError:
            city_snow_inches = 0        
            
            #  CHALLENGE PART 1  new Append the City information into city_data list
        city_data.append({"City": city.title(), 
                          "Lat": city_lat, 
                          "Lng": city_lng, 
                          "Max Temp": city_max_temp,
                          "Current Description": city_weather_description,
                          "Rain (inches)": city_rain_inches,
                          "Snow (inches)": city_snow_inches,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country})
    # If an error is experienced, skip the city

    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete 
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

ord 40 of Set 3 | iquique
Processing Record 41 of Set 3 | tiksi
Processing Record 42 of Set 3 | bambous virieux
Processing Record 43 of Set 3 | raychikhinsk
Processing Record 44 of Set 3 | hami
Processing Record 45 of Set 3 | stavern
Processing Record 46 of Set 3 | ushtobe
Processing Record 47 of Set 3 | margate
Processing Record 48 of Set 3 | mahebourg
Processing Record 49 of Set 3 | coahuayana
Processing Record 50 of Set 3 | arenapolis
Processing Record 1 of Set 4 | iqaluit
Processing Record 2 of Set 4 | sao filipe
Processing Record 3 of Set 4 | bodden town
Processing Record 4 of Set 4 | yar-sale
Processing Record 5 of Set 4 | grand gaube
Processing Record 6 of Set 4 | esna
Processing Record 7 of Set 4 | sarankhola
Processing Record 8 of Set 4 | karkaralinsk
City not found. Skipping...
Processing Record 9 of Set 4 | provideniya
Processing Record 10 of Set 4 | klaksvik
Processing Record 11 of Set 4 | new norfolk
Processing Record 12 of Set 4 | cape canaveral
Processing Record 13 of Set 4 | cabo san lucas
Processing Record 14 of Set 4 | hamilton
Processing Record 15 of Set 4 | shitkino
Processing Record 16 of Set 4 | fortuna
Processing Record 17 of Set 4 | tagusao
Processing Record 18 of Set 4 | sibolga
Processing Record 19 of Set 4 | labutta
City not found. Skipping...
Processing Record 20 of Set 4 | kemin
Processing Record 21 of Set 4 | beloha
Processing Record 22 of Set 4 | elizabeth city
Processing Record 23 of Set 4 | banda aceh
Processing Record 24 of Set 4 | east london
Processing Record 25 of Set 4 | nabire
Processing Record 26 of Set 4 | henties bay
Processing Record 27 of Set 4 | pedro juan caballero
Processing Record 28 of Set 4 | le port
Processing Record 29 of Set 4 | san andres
Processing Record 30 of Set 4 | biak
Processing Record 31 of Set 4 | kaeo
Processing Record 32 of Set 4 | barranca
Processing Record 33 of Set 4 | caravelas
Processing Record 34 of Set 4 | dickinson
Processing Record 35 of Set 4 | opuwo
Processing Record 36 of Set 4 | sorvag
City not found. Skipping...
Processing Record 37 of Set 4 | acarau
Processing Record 38 of Set 4 | illoqqortoormiut
City not found. Skipping...
Processing Record 39 of Set 4 | marcona
City not found. Skipping...
Processing Record 40 of Set 4 | mnogovershinnyy
Processing Record 41 of Set 4 | goderich
Processing Record 42 of Set 4 | katsuura
Processing Record 43 of Set 4 | faanui
Processing Record 44 of Set 4 | cabo rojo
Processing Record 45 of Set 4 | wilmington
Processing Record 46 of Set 4 | aksarka
Processing Record 47 of Set 4 | champaign
Processing Record 48 of Set 4 | strezhevoy
Processing Record 49 of Set 4 | guaratinga
Processing Record 50 of Set 4 | port lincoln
Processing Record 1 of Set 5 | port alfred
Processing Record 2 of Set 5 | datong
Processing Record 3 of Set 5 | chapada dos guimaraes
Processing Record 4 of Set 5 | amderma
City not found. Skipping...
Processing Record 5 of Set 5 | attawapiskat
City not found. Skipping...
Processing Record 6 of Set 5 | lima
Processing Record 7 of Set 5 | aswan
Processing Record 8 of Set 5 | lagoa
Processing Record 9 of Set 5 | torbay
Processing Record 10 of Set 5 | ngukurr
City not found. Skipping...
Processing Record 11 of Set 5 | ust-tsilma
Processing Record 12 of Set 5 | broome
Processing Record 13 of Set 5 | sena madureira
Processing Record 14 of Set 5 | brawley
Processing Record 15 of Set 5 | aklavik
Processing Record 16 of Set 5 | ocos
Processing Record 17 of Set 5 | touros
Processing Record 18 of Set 5 | mtimbira
Processing Record 19 of Set 5 | talnakh
Processing Record 20 of Set 5 | poya
Processing Record 21 of Set 5 | codrington
Processing Record 22 of Set 5 | cerro grande
Processing Record 23 of Set 5 | port-cartier
Processing Record 24 of Set 5 | prince rupert
Processing Record 25 of Set 5 | sovetskiy
Processing Record 26 of Set 5 | ancud
Processing Record 27 of Set 5 | bathsheba
Processing Record 28 of Set 5 | nikolskoye
Processing Record 29 of Set 5 | saint george
Processing Record 30 of Set 5 | thompson
Processing Record 31 of Set 5 | tucurui
Processing Record 32 of Set 5 | beyneu
Processing Record 33 of Set 5 | batagay
Processing Record 34 of Set 5 | naryan-mar
Processing Record 35 of Set 5 | altamira
Processing Record 36 of Set 5 | tsihombe
City not found. Skipping...
Processing Record 37 of Set 5 | itaituba
Processing Record 38 of Set 5 | coquimbo
Processing Record 39 of Set 5 | harnosand
Processing Record 40 of Set 5 | tiznit
Processing Record 41 of Set 5 | kieta
Processing Record 42 of Set 5 | geraldton
Processing Record 43 of Set 5 | griffith
Processing Record 44 of Set 5 | san pedro buenavista
Processing Record 45 of Set 5 | hailun
Processing Record 46 of Set 5 | talcahuano
Processing Record 47 of Set 5 | chilca
Processing Record 48 of Set 5 | zhigansk
Processing Record 49 of Set 5 | yeppoon
Processing Record 50 of Set 5 | valparaiso
Processing Record 1 of Set 6 | kargopol
Processing Record 2 of Set 6 | tecoanapa
Processing Record 3 of Set 6 | norman wells
Processing Record 4 of Set 6 | lakhipur
Processing Record 5 of Set 6 | vaitupu
City not found. Skipping...
Processing Record 6 of Set 6 | ilulissat
Processing Record 7 of Set 6 | mys shmidta
City not found. Skipping...
Processing Record 8 of Set 6 | leningradskiy
Processing Record 9 of Set 6 | gimli
Processing Record 10 of Set 6 | bayan
Processing Record 11 of Set 6 | portland
Processing Record 12 of Set 6 | gat
Processing Record 13 of Set 6 | ornskoldsvik
Processing Record 14 of Set 6 | morondava
Processing Record 15 of Set 6 | boyolangu
Processing Record 16 of Set 6 | dalvik
Processing Record 17 of Set 6 | marfino
Processing Record 18 of Set 6 | richards bay
Processing Record 19 of Set 6 | patea
Processing Record 20 of Set 6 | sentyabrskiy
City not found. Skipping...
Processing Record 21 of Set 6 | pitimbu
Processing Record 22 of Set 6 | mezen
Processing Record 23 of Set 6 | pringsewu
Processing Record 24 of Set 6 | horta
Processing Record 25 of Set 6 | puerto escondido
Processing Record 26 of Set 6 | port moresby
Processing Record 27 of Set 6 | jijiga
Processing Record 28 of Set 6 | mercedes
Processing Record 29 of Set 6 | oriximina
Processing Record 30 of Set 6 | sibut
Processing Record 31 of Set 6 | clyde river
Processing Record 32 of Set 6 | bilma
Processing Record 33 of Set 6 | findlay
Processing Record 34 of Set 6 | sola
Processing Record 35 of Set 6 | beringovskiy
Processing Record 36 of Set 6 | porto novo
Processing Record 37 of Set 6 | souillac
Processing Record 38 of Set 6 | upernavik
Processing Record 39 of Set 6 | anadyr
Processing Record 40 of Set 6 | quatre cocos
Processing Record 41 of Set 6 | airai
Processing Record 42 of Set 6 | zarubino
Processing Record 43 of Set 6 | eha amufu
Processing Record 44 of Set 6 | reguengos de monsaraz
Processing Record 45 of Set 6 | palabuhanratu
City not found. Skipping...
Processing Record 46 of Set 6 | las palmas
Processing Record 47 of Set 6 | barentsburg
City not found. Skipping...
Processing Record 48 of Set 6 | springbok
Processing Record 49 of Set 6 | marechal candido rondon
Processing Record 50 of Set 6 | nizwa
Processing Record 1 of Set 7 | hervey bay
Processing Record 2 of Set 7 | huarmey
Processing Record 3 of Set 7 | talaya
Processing Record 4 of Set 7 | kloulklubed
Processing Record 5 of Set 7 | port hardy
Processing Record 6 of Set 7 | chuy
Processing Record 7 of Set 7 | christchurch
Processing Record 8 of Set 7 | cherskiy
Processing Record 9 of Set 7 | ust-nera
Processing Record 10 of Set 7 | kiama
Processing Record 11 of Set 7 | hokitika
Processing Record 12 of Set 7 | palaikastron
Processing Record 13 of Set 7 | parabel
Processing Record 14 of Set 7 | ola
Processing Record 15 of Set 7 | choctaw
Processing Record 16 of Set 7 | terrace bay
Processing Record 17 of Set 7 | kalur kot
Processing Record 18 of Set 7 | yirol
City not found. Skipping...
Processing Record 19 of Set 7 | gizo
Processing Record 20 of Set 7 | kamenka
Processing Record 21 of Set 7 | kodiak
Processing Record 22 of Set 7 | husavik
Processing Record 23 of Set 7 | leh
Processing Record 24 of Set 7 | belmonte
Processing Record 25 of Set 7 | colesberg
Processing Record 26 of Set 7 | san policarpo
Processing Record 27 of Set 7 | port keats
Processing Record 28 of Set 7 | mentok
City not found. Skipping...
Processing Record 29 of Set 7 | sistranda
Processing Record 30 of Set 7 | hofn
Processing Record 31 of Set 7 | birobidzhan
Processing Record 32 of Set 7 | guerrero negro
Processing Record 33 of Set 7 | mandalgovi
Processing Record 34 of Set 7 | mataquescuintla
Processing Record 35 of Set 7 | burkhala
City not found. Skipping...
Processing Record 36 of Set 7 | tura
Processing Record 37 of Set 7 | sao jose da coroa grande
Processing Record 38 of Set 7 | pemba
Processing Record 39 of Set 7 | marawi
Processing Record 40 of Set 7 | pizarro
Processing Record 41 of Set 7 | vizimyary
City not found. Skipping...
Processing Record 42 of Set 7 | yermakovskoye
Processing Record 43 of Set 7 | hurghada
Processing Record 44 of Set 7 | chernenko
Processing Record 45 of Set 7 | sitka
Processing Record 46 of Set 7 | port augusta
Processing Record 47 of Set 7 | bowen
Processing Record 48 of Set 7 | santa rosa
Processing Record 49 of Set 7 | yerbogachen
Processing Record 50 of Set 7 | valle hermoso
Processing Record 1 of Set 8 | ouadda
Processing Record 2 of Set 8 | san cristobal
Processing Record 3 of Set 8 | ponta delgada
Processing Record 4 of Set 8 | chor
Processing Record 5 of Set 8 | fallon
Processing Record 6 of Set 8 | bajo baudo
City not found. Skipping...
Processing Record 7 of Set 8 | mukono
Processing Record 8 of Set 8 | ussuriysk
Processing Record 9 of Set 8 | nemuro
Processing Record 10 of Set 8 | sarakhs
Processing Record 11 of Set 8 | port pirie
Processing Record 12 of Set 8 | hovd
Processing Record 13 of Set 8 | alice springs
Processing Record 14 of Set 8 | kupang
Processing Record 15 of Set 8 | stornoway
Processing Record 16 of Set 8 | tazovskiy
Processing Record 17 of Set 8 | naze
Processing Record 18 of Set 8 | mount gambier
Processing Record 19 of Set 8 | olinda
Processing Record 20 of Set 8 | duiven
Processing Record 21 of Set 8 | kavaratti
Processing Record 22 of Set 8 | umzimvubu
City not found. Skipping...
Processing Record 23 of Set 8 | tamiahua
Processing Record 24 of Set 8 | namie
Processing Record 25 of Set 8 | doka
Processing Record 26 of Set 8 | itarema
Processing Record 27 of Set 8 | thomasville
Processing Record 28 of Set 8 | ikwiriri
Processing Record 29 of Set 8 | asau
Processing Record 30 of Set 8 | miles city
Processing Record 31 of Set 8 | natitingou
Processing Record 32 of Set 8 | dukat
Processing Record 33 of Set 8 | isangel
Processing Record 34 of Set 8 | tawnat
City not found. Skipping...
Processing Record 35 of Set 8 | vaitape
Processing Record 36 of Set 8 | bonavista
Processing Record 37 of Set 8 | byron bay
Processing Record 38 of Set 8 | mahajanga
Processing Record 39 of Set 8 | tooele
Processing Record 40 of Set 8 | coolum beach
Processing Record 41 of Set 8 | erdaojiang
Processing Record 42 of Set 8 | buqayq
City not found. Skipping...
Processing Record 43 of Set 8 | moa
Processing Record 44 of Set 8 | fort nelson
Processing Record 45 of Set 8 | atar
Processing Record 46 of Set 8 | komsomolskiy
Processing Record 47 of Set 8 | mackay
Processing Record 48 of Set 8 | scarborough
Processing Record 49 of Set 8 | saqqez
Processing Record 50 of Set 8 | hasaki
Processing Record 1 of Set 9 | monrovia
Processing Record 2 of Set 9 | cedar city
Processing Record 3 of Set 9 | pasighat
Processing Record 4 of Set 9 | karaul
City not found. Skipping...
Processing Record 5 of Set 9 | witbank
Processing Record 6 of Set 9 | heinola
Processing Record 7 of Set 9 | tabuk
Processing Record 8 of Set 9 | san rafael
Processing Record 9 of Set 9 | karagach
Processing Record 10 of Set 9 | pudozh
Processing Record 11 of Set 9 | avera
Processing Record 12 of Set 9 | hamadan
Processing Record 13 of Set 9 | boa vista
Processing Record 14 of Set 9 | shaowu
Processing Record 15 of Set 9 | mozarlandia
Processing Record 16 of Set 9 | puerto boyaca
Processing Record 17 of Set 9 | svirstroy
Processing Record 18 of Set 9 | fairbanks
Processing Record 19 of Set 9 | deputatskiy
Processing Record 20 of Set 9 | koslan
Processing Record 21 of Set 9 | leopold
Processing Record 22 of Set 9 | kars
Processing Record 23 of Set 9 | sigli
Processing Record 24 of Set 9 | egvekinot
Processing Record 25 of Set 9 | maumere
Processing Record 26 of Set 9 | mersing
Processing Record 27 of Set 9 | petropavl
Processing Record 28 of Set 9 | tevriz
Processing Record 29 of Set 9 | dzhusaly
City not found. Skipping...
Processing Record 30 of Set 9 | jiddah
City not found. Skipping...
Processing Record 31 of Set 9 | fare
Processing Record 32 of Set 9 | karratha
Processing Record 33 of Set 9 | araouane
Processing Record 34 of Set 9 | kaman
Processing Record 35 of Set 9 | lahaina
Processing Record 36 of Set 9 | nouakchott
Processing Record 37 of Set 9 | devonport
Processing Record 38 of Set 9 | saint-joseph
Processing Record 39 of Set 9 | liverpool
Processing Record 40 of Set 9 | maraa
Processing Record 41 of Set 9 | dhekiajuli
Processing Record 42 of Set 9 | cururupu
Processing Record 43 of Set 9 | banapur
Processing Record 44 of Set 9 | sawakin
Processing Record 45 of Set 9 | ampanihy
Processing Record 46 of Set 9 | guangyuan
Processing Record 47 of Set 9 | uni
Processing Record 48 of Set 9 | san quintin
Processing Record 49 of Set 9 | malwan
City not found. Skipping...
Processing Record 50 of Set 9 | palmer
Processing Record 1 of Set 10 | ambon
Processing Record 2 of Set 10 | maralal
Processing Record 3 of Set 10 | poum
Processing Record 4 of Set 10 | kosh-agach
Processing Record 5 of Set 10 | tautira
Processing Record 6 of Set 10 | daman
Processing Record 7 of Set 10 | saint-augustin
Processing Record 8 of Set 10 | neiafu
Processing Record 9 of Set 10 | vila velha
Processing Record 10 of Set 10 | nadym
Processing Record 11 of Set 10 | hammerfest
Processing Record 12 of Set 10 | warqla
City not found. Skipping...
Processing Record 13 of Set 10 | kegayli
City not found. Skipping...
Processing Record 14 of Set 10 | praia da vitoria
Processing Record 15 of Set 10 | nishihara
Processing Record 16 of Set 10 | kaduqli
Processing Record 17 of Set 10 | robertson
Processing Record 18 of Set 10 | linchuan
City not found. Skipping...
Processing Record 19 of Set 10 | ciudad del maiz
Processing Record 20 of Set 10 | hay river
Processing Record 21 of Set 10 | ewo
Processing Record 22 of Set 10 | sabzevar
Processing Record 23 of Set 10 | kaura namoda
Processing Record 24 of Set 10 | artyk
City not found. Skipping...
Processing Record 25 of Set 10 | tubuala
Processing Record 26 of Set 10 | khormuj
City not found. Skipping...
Processing Record 27 of Set 10 | baruun-urt
Processing Record 28 of Set 10 | terre haute
Processing Record 29 of Set 10 | vallenar
Processing Record 30 of Set 10 | comodoro rivadavia
Processing Record 31 of Set 10 | lavrentiya
Processing Record 32 of Set 10 | mauganj
Processing Record 33 of Set 10 | kolpashevo
Processing Record 34 of Set 10 | karakose
City not found. Skipping...
Processing Record 35 of Set 10 | pittsburg
Processing Record 36 of Set 10 | maniitsoq
Processing Record 37 of Set 10 | dingle
Processing Record 38 of Set 10 | belton
Processing Record 39 of Set 10 | sinazongwe
Processing Record 40 of Set 10 | sampit
Processing Record 41 of Set 10 | louisbourg
City not found. Skipping...
Processing Record 42 of Set 10 | santa maria
Processing Record 43 of Set 10 | pedana
Processing Record 44 of Set 10 | kargasok
Processing Record 45 of Set 10 | victor harbor
Processing Record 46 of Set 10 | zima
Processing Record 47 of Set 10 | salalah
Processing Record 48 of Set 10 | okato
Processing Record 49 of Set 10 | los llanos de aridane
Processing Record 50 of Set 10 | meyungs
City not found. Skipping...
Processing Record 1 of Set 11 | camacha
Processing Record 2 of Set 11 | maldonado
Processing Record 3 of Set 11 | adrar
Processing Record 4 of Set 11 | pilar
Processing Record 5 of Set 11 | san carlos de bariloche
Processing Record 6 of Set 11 | shitanjing
Processing Record 7 of Set 11 | batagay-alyta
Processing Record 8 of Set 11 | kaitangata
Processing Record 9 of Set 11 | vitim
Processing Record 10 of Set 11 | porto santo
Processing Record 11 of Set 11 | lasa
Processing Record 12 of Set 11 | koping
Processing Record 13 of Set 11 | puerto colombia
Processing Record 14 of Set 11 | amalapuram
Processing Record 15 of Set 11 | havelock
Processing Record 16 of Set 11 | khash
Processing Record 17 of Set 11 | santarem
Processing Record 18 of Set 11 | dien bien
City not found. Skipping...
Processing Record 19 of Set 11 | taoudenni
Processing Record 20 of Set 11 | ust-kamchatsk
City not found. Skipping...
Processing Record 21 of Set 11 | ust-kuyga
Processing Record 22 of Set 11 | komatipoort
Processing Record 23 of Set 11 | ustye
Processing Record 24 of Set 11 | rorvik
Processing Record 25 of Set 11 | nsanje
Processing Record 26 of Set 11 | kokstad
Processing Record 27 of Set 11 | dunedin
Processing Record 28 of Set 11 | ambodifototra
City not found. Skipping...
Processing Record 29 of Set 11 | bosaso
Processing Record 30 of Set 11 | moctezuma
Processing Record 31 of Set 11 | lichinga
Processing Record 32 of Set 11 | mayo
Processing Record 33 of Set 11 | samusu
City not found. Skipping...
Processing Record 34 of Set 11 | korsor
Processing Record 35 of Set 11 | sibanicu
Processing Record 36 of Set 11 | lakinsk
Processing Record 37 of Set 11 | bolshaya irba
City not found. Skipping...
Processing Record 38 of Set 11 | fort smith
Processing Record 39 of Set 11 | belyy yar
Processing Record 40 of Set 11 | camana
Processing Record 41 of Set 11 | hambantota
Processing Record 42 of Set 11 | thano bula khan
City not found. Skipping...
Processing Record 43 of Set 11 | bachaquero
Processing Record 44 of Set 11 | ucluelet
Processing Record 45 of Set 11 | tsagan aman
Processing Record 46 of Set 11 | sur
Processing Record 47 of Set 11 | ankang
Processing Record 48 of Set 11 | saint-louis
Processing Record 49 of Set 11 | dolores
Processing Record 50 of Set 11 | mazagao
Processing Record 1 of Set 12 | langsa
Processing Record 2 of Set 12 | omboue
Processing Record 3 of Set 12 | mount pleasant
Processing Record 4 of Set 12 | odweyne
Processing Record 5 of Set 12 | kirakira
Processing Record 6 of Set 12 | lompoc
Processing Record 7 of Set 12 | olafsvik
Processing Record 8 of Set 12 | beira
Processing Record 9 of Set 12 | tromso
Processing Record 10 of Set 12 | matara
Processing Record 11 of Set 12 | shamkhal
Processing Record 12 of Set 12 | waddan
Processing Record 13 of Set 12 | varadero
Processing Record 14 of Set 12 | ovalle
Processing Record 15 of Set 12 | nouadhibou
Processing Record 16 of Set 12 | bundaberg
Processing Record 17 of Set 12 | udaipura
Processing Record 18 of Set 12 | skjervoy
Processing Record 19 of Set 12 | noumea
Processing Record 20 of Set 12 | kyren
Processing Record 21 of Set 12 | thohoyandou
Processing Record 22 of Set 12 | maseru
Processing Record 23 of Set 12 | najran
Processing Record 24 of Set 12 | north myrtle beach
Processing Record 25 of Set 12 | yanan
City not found. Skipping...
Processing Record 26 of Set 12 | palana
Processing Record 27 of Set 12 | sidi ali
Processing Record 28 of Set 12 | sisimiut
Processing Record 29 of Set 12 | lingao
Processing Record 30 of Set 12 | cagliari
Processing Record 31 of Set 12 | nizhniy tsasuchey
Processing Record 32 of Set 12 | kolomna
Processing Record 33 of Set 12 | king city
Processing Record 34 of Set 12 | borogontsy
Processing Record 35 of Set 12 | bermejo
Processing Record 36 of Set 12 | guanay
Processing Record 37 of Set 12 | klyuchi
Processing Record 38 of Set 12 | san benito
Processing Record 39 of Set 12 | salisbury
Processing Record 40 of Set 12 | megion
Processing Record 41 of Set 12 | mehamn
-----------------------------
Data Retrieval Complete
-----------------------------

In [22]:
len(cities)

591

In [23]:
weather_py_df = pd.DataFrame(city_data)
weather_py_df.head(10)

,City,Lat,Lng,Max Temp,Current Description,Rain (inches),Snow (inches),Humidity,Cloudiness,Wind Speed,Country
0,Hobart,-42.88,147.33,46.00,broken clouds,0,0,87,75,5.82,AU
1,Cap Malheureux,-19.98,57.61,72.00,few clouds,0,0,74,19,8.01,MU
2,Esperance,-33.87,121.90,48.20,clear sky,0,0,61,0,20.80,AU
3,Busselton,-33.65,115.33,59.00,light rain,0,0,68,98,12.80,AU
4,Mataura,-46.19,168.86,44.11,broken clouds,0,0,84,75,4.54,NZ
5,Benguela,-12.58,13.41,67.32,clear sky,0,0,85,0,6.38,AO
6,Rikitea,-23.12,-134.97,71.20,overcast clouds,0,0,73,90,14.18,PF
7,Jamestown,42.10,-79.24,70.00,clear sky,0,0,73,1,6.93,US
8,Castro,-24.79,-50.01,58.10,clear sky,0,0,88,5,4.76,BR
9,Makakilo City,21.35,-158.09,86.00,broken clouds,0,0,51,75,6.93,US

In [24]:
# CHALLENGE PART 1: Reorder the DF to look like that of the one in the example

new_column_order = ["City","Country","Lat","Lng","Max Temp","Humidity","Cloudiness","Wind Speed", "Current Description", "Rain (inches)", "Snow (inches)"]

weather_py_df = weather_py_df[new_column_order]

In [25]:
weather_py_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,Hobart,AU,-42.88,147.33,46.00,87,75,5.82,broken clouds,0,0
1,Cap Malheureux,MU,-19.98,57.61,72.00,74,19,8.01,few clouds,0,0
2,Esperance,AU,-33.87,121.90,48.20,61,0,20.80,clear sky,0,0
3,Busselton,AU,-33.65,115.33,59.00,68,98,12.80,light rain,0,0
4,Mataura,NZ,-46.19,168.86,44.11,84,75,4.54,broken clouds,0,0
...,...,...,...,...,...,...,...,...,...,...,...
529,Klyuchi,RU,52.27,79.17,66.29,75,0,13.78,clear sky,0,0
530,San Benito,GT,16.91,-89.91,82.83,63,58,3.15,broken clouds,0,0
531,Salisbury,GB,51.07,-1.80,57.20,71,14,6.93,few clouds,0,0
532,Megion,RU,61.03,76.11,59.00,93,63,4.47,broken clouds,0,0
533,Mehamn,NO,71.04,27.85,48.16,81,0,4.81,clear sky,0,0

In [26]:
# CHALLENGE PART 1: Show how many cities have rain

In [27]:
len(weather_py_df["Snow (inches)"] == 0)

534

In [28]:
# CHALLENGE PART 1: Save the new DF as a CSV
output_data_file = "WeatherPy_database.csv"
#Export the df to the output
weather_py_df.to_csv(output_data_file, index_label = "City_ID")