In [1]:
# CHALLENGE PART 3: Import Dependencies

# CHALLENGE PART 2 Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import gmaps
# Immport the requests log
import requests
requests.__version__

#Import the API Key
from config import weather_api_key
from config import g_key

In [2]:
travel_df = pd.read_csv("WeatherPy_vacation.csv")
travel_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,9,Makakilo City,US,86.00,broken clouds,21.35,-158.09,Marriott's Ko Olina Beach Club
1,16,Atuona,PF,79.52,clear sky,-9.80,-139.03,Villa Enata
2,17,Miri,MY,82.40,few clouds,4.41,114.01,"Mega Hotel, Miri"
3,18,Kavieng,PG,84.18,overcast clouds,-2.57,150.80,Nusa Island Retreat
4,21,Marsh Harbour,BS,82.65,overcast clouds,26.54,-77.06,Abaco Beach Resort
...,...,...,...,...,...,...,...,...
168,517,North Myrtle Beach,US,86.00,clear sky,33.82,-78.68,Avista Resort
169,519,Sidi Ali,DZ,76.80,overcast clouds,36.10,0.42,NaN
170,521,Lingao,CN,85.80,clear sky,19.91,109.69,Lingao Ditai Inn
171,526,Borogontsy,RU,87.84,clear sky,62.67,131.17,NaN
172,530,San Benito,GT,82.83,broken clouds,16.91,-89.91,Quinta Maya Hotel

In [3]:
#CHALLENGE PART 3: Get the dataframe sorted for each city
city1_information = travel_df.loc[travel_df["City"] == "Mount Pleasant"]
city2_information = travel_df.loc[travel_df["City"] == "North Myrtle Beach"]
city3_information = travel_df.loc[travel_df["City"] == "Wilmington"]
city4_information = travel_df.loc[travel_df["City"] == "Havelock"]

In [34]:
concat_df = pd.concat([city1_information, city2_information, city3_information, city4_information])

In [23]:
city1 = (np.array(city1_information)[0,5],np.array(city1_information)[0,6])
city2 = (np.array(city2_information)[0,5],np.array(city2_information)[0,6])
city3 = (np.array(city3_information)[0,5],np.array(city3_information)[0,6])
city4 = (np.array(city4_information)[0,5],np.array(city4_information)[0,6])

In [5]:
city1

(32.79, -79.86)

In [24]:
print(city1)
print(city2)
print(city3)
print(city4)

(32.79, -79.86)
(33.82, -78.68)
(34.23, -77.94)
(34.88, -76.9)

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

In [67]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)
# Latitude-longitude pairs
Mount_Pleasant = city1
North_Myrtle_Beach = city2
Wilmington = city3
Havelock = city4

fig = gmaps.figure()
route = gmaps.directions_layer(city1, city4, waypoints=[city2,city3],
        travel_mode='DRIVING', show_markers =False)
fig.add_layer(route)
# Store the DataFrame Row.
popup_info = [info_box_template.format(**row) for index, row in concat_df.iterrows()]

fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
#CHALLENGE: Get the Marker Popups png

gmaps.configure(api_key=g_key)
fig = gmaps.figure()
popups = gmaps.marker_layer([city1,city2,city3,city4],info_box_content=marker_info)
fig.add_layer(route)
fig.add_layer(popups)
fig

Figure(layout=FigureLayout(height='420px'))